In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# MAIN PROGRAM: TF-IDF Cosine + pre-datataset

In [ ]:
#@title TF-IDF

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
import string
import re
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf
from collections import Counter
from typing import Dict, Text
from ast import literal_eval
from datetime import datetime
from wordcloud import WordCloud
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd
import numpy as np
import re
from sklearn.metrics.pairwise import cosine_similarity
from nltk.corpus import stopwords
stopwords_english = set(stopwords.words('english'))
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
from ast import literal_eval

import warnings
warnings.filterwarnings("ignore")

In [ ]:
#data_02 = pd.read_csv("/content/gdrive/MyDrive/DBP_FALL2022/dbm_movie_EDA.tsv", sep="\t")

In [ ]:
#data_02 = pd.read_csv("/content/gdrive/MyDrive/DBP_FALL2022/dbm_movies_wo_ratings.tsv", sep="\t")

In [ ]:
data_02 = pd.read_csv("/content/gdrive/MyDrive/DBP_FALL2022/dbm_movies_final.tsv", sep="\t")

In [ ]:
data_02

,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,...,vote_average,vote_count,keywords,crew,year,month,day,day_name,characters,actors
0,False,30000000,"Animation, Comedy, Family",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.950000,Pixar Animation Studios,United States of America,...,7.7,5416.0,"jealousy, toy, boy, friendship, friends, rival...","John Lasseter, Joss Whedon, Andrew Stanton, Jo...",1995,10,30,Monday,"Woody (voice), Buzz Lightyear (voice), Mr. Pot...","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,..."
1,False,65000000,"Adventure, Fantasy, Family",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.020000,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,...,6.9,2412.0,"board game, disappearance, based on children's...","Larry J. Franco, Jonathan Hensleigh, James Hor...",1995,12,15,Friday,"Alan Parrish, Samuel Alan Parrish / Van Pelt, ...","Robin Williams, Jonathan Hyde, Kirsten Dunst, ..."
2,False,0,"Romance, Comedy",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.710000,"Warner Bros., Lancaster Gate",United States of America,...,6.5,92.0,"fishing, best friend, duringcreditsstinger, ol...","Howard Deutch, Mark Steven Johnson, Mark Steve...",1995,12,22,Friday,"Max Goldman, John Gustafson, Ariel Gustafson, ...","Walter Matthau, Jack Lemmon, Ann-Margret, Soph..."
3,False,16000000,"Comedy, Drama, Romance",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.860000,Twentieth Century Fox Film Corporation,United States of America,...,6.1,34.0,"based on novel, interracial relationship, sing...","Forest Whitaker, Ronald Bass, Ronald Bass, Ezr...",1995,12,22,Friday,"Savannah 'Vannah' Jackson, Bernadine 'Bernie' ...","Whitney Houston, Angela Bassett, Loretta Devin..."
4,False,0,Comedy,11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.390000,"Sandollar Productions, Touchstone Pictures",United States of America,...,5.7,173.0,"baby, midlife crisis, confidence, aging, daugh...","Alan Silvestri, Elliot Davis, Nancy Meyers, Na...",1995,2,10,Friday,"George Banks, Nina Banks, Franck Eggelhoffer, ...","Steve Martin, Diane Keaton, Martin Short, Kimb..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43282,False,0,Horror,289923,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,0.386500,"Neptune Salad Entertainment, Pirie Productions",United States of America,...,7.0,1.0,"witch, mythology, legend, serial killer, mocku...","Ben Rock, Ben Rock",2000,10,3,Tuesday,"Branwall, Sarah Didonna, Kyle Brody, Bill Barn...","Monty Bane, Lucy Butler, David Grammer, Bill D..."
43283,False,0,Science Fiction,222848,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,0.661600,Concorde-New Horizons,United States of America,...,3.5,1.0,NaN,"Roger Corman, Mike Elliott, Aaron Osborne, Mik...",1995,1,1,Sunday,"Kira (as Cassandra Leigh), Daly, Ruggs, Lewis,...","Lisa Boyle, Kena Land, Zaneta Polard, Don Yana..."
43284,False,0,Drama,111109,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178200,Sine Olivia,Philippines,...,9.0,3.0,"artist, play, pinoy","Lav Diaz, Lav Diaz, Dante Perez, Lav Diaz, Lav...",2011,11,17,Thursday,"Sister Angela, Homer, Crazy Woman/Virgin, Aman...","Angel Aquino, Perry Dizon, Hazel Orencio, Joel..."
43285,False,0,NaN,227506,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003504,Yermoliev,Russia,...,0.0,0.0,NaN,"Yakov Protazanov, Joseph N. Ermolieff",1917,10,21,Sunday,", , , ,","Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav..."
43286,False,0,NaN,461257,en,Queerama,50 years after decriminalisation of homosexual...,0.163000,NaN,United Kingdom,...,0.0,0.0,NaN,Daisy Asquith,2017,6,9,Friday,NaN,NaN

In [ ]:
data_02['original_title'].head(10)

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
5                           Heat
6                        Sabrina
7                   Tom and Huck
8                   Sudden Death
9                      GoldenEye
Name: original_title, dtype: object

In [ ]:
data_02['actors'].head(5)

0    Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...
1    Robin Williams, Jonathan Hyde, Kirsten Dunst, ...
2    Walter Matthau, Jack Lemmon, Ann-Margret, Soph...
3    Whitney Houston, Angela Bassett, Loretta Devin...
4    Steve Martin, Diane Keaton, Martin Short, Kimb...
Name: actors, dtype: object

In [ ]:
data_02['genres'].head(10)

0           Animation, Comedy, Family
1          Adventure, Fantasy, Family
2                     Romance, Comedy
3              Comedy, Drama, Romance
4                              Comedy
5      Action, Crime, Drama, Thriller
6                     Comedy, Romance
7    Action, Adventure, Drama, Family
8         Action, Adventure, Thriller
9         Adventure, Action, Thriller
Name: genres, dtype: object

In [ ]:
print("---- BEFORE ----")
print(data_02.isna().sum())
data_02.fillna('unknown', inplace=True)

print("---- AFTER ----")
print(data_02.isna().sum())

data_02

---- BEFORE ----
adult                       0
budget                      0
genres                   2287
id                          0
original_language           0
original_title              0
overview                    0
popularity                  0
production_companies    11291
production_countries     5921
revenue                     0
runtime                     0
spoken_languages         3687
tagline                     0
vote_average                0
vote_count                  0
keywords                13685
crew                      708
year                        0
month                       0
day                         0
day_name                    0
characters               2431
actors                   2284
dtype: int64
---- AFTER ----
adult                   0
budget                  0
genres                  0
id                      0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
revenue                 0
runtime                 0
spoken_languages        0
tagline                 0
vote_average            0
vote_count              0
keywords                0
crew                    0
year                    0
month                   0
day                     0
day_name                0
characters              0
actors                  0
dtype: int64

,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,...,vote_average,vote_count,keywords,crew,year,month,day,day_name,characters,actors
0,False,30000000,"Animation, Comedy, Family",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.950000,Pixar Animation Studios,United States of America,...,7.7,5416.0,"jealousy, toy, boy, friendship, friends, rival...","John Lasseter, Joss Whedon, Andrew Stanton, Jo...",1995,10,30,Monday,"Woody (voice), Buzz Lightyear (voice), Mr. Pot...","Tom Hanks, Tim Allen, Don Rickles, Jim Varney,..."
1,False,65000000,"Adventure, Fantasy, Family",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.020000,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,...,6.9,2412.0,"board game, disappearance, based on children's...","Larry J. Franco, Jonathan Hensleigh, James Hor...",1995,12,15,Friday,"Alan Parrish, Samuel Alan Parrish / Van Pelt, ...","Robin Williams, Jonathan Hyde, Kirsten Dunst, ..."
2,False,0,"Romance, Comedy",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.710000,"Warner Bros., Lancaster Gate",United States of America,...,6.5,92.0,"fishing, best friend, duringcreditsstinger, ol...","Howard Deutch, Mark Steven Johnson, Mark Steve...",1995,12,22,Friday,"Max Goldman, John Gustafson, Ariel Gustafson, ...","Walter Matthau, Jack Lemmon, Ann-Margret, Soph..."
3,False,16000000,"Comedy, Drama, Romance",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.860000,Twentieth Century Fox Film Corporation,United States of America,...,6.1,34.0,"based on novel, interracial relationship, sing...","Forest Whitaker, Ronald Bass, Ronald Bass, Ezr...",1995,12,22,Friday,"Savannah 'Vannah' Jackson, Bernadine 'Bernie' ...","Whitney Houston, Angela Bassett, Loretta Devin..."
4,False,0,Comedy,11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.390000,"Sandollar Productions, Touchstone Pictures",United States of America,...,5.7,173.0,"baby, midlife crisis, confidence, aging, daugh...","Alan Silvestri, Elliot Davis, Nancy Meyers, Na...",1995,2,10,Friday,"George Banks, Nina Banks, Franck Eggelhoffer, ...","Steve Martin, Diane Keaton, Martin Short, Kimb..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43282,False,0,Horror,289923,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,0.386500,"Neptune Salad Entertainment, Pirie Productions",United States of America,...,7.0,1.0,"witch, mythology, legend, serial killer, mocku...","Ben Rock, Ben Rock",2000,10,3,Tuesday,"Branwall, Sarah Didonna, Kyle Brody, Bill Barn...","Monty Bane, Lucy Butler, David Grammer, Bill D..."
43283,False,0,Science Fiction,222848,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,0.661600,Concorde-New Horizons,United States of America,...,3.5,1.0,unknown,"Roger Corman, Mike Elliott, Aaron Osborne, Mik...",1995,1,1,Sunday,"Kira (as Cassandra Leigh), Daly, Ruggs, Lewis,...","Lisa Boyle, Kena Land, Zaneta Polard, Don Yana..."
43284,False,0,Drama,111109,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178200,Sine Olivia,Philippines,...,9.0,3.0,"artist, play, pinoy","Lav Diaz, Lav Diaz, Dante Perez, Lav Diaz, Lav...",2011,11,17,Thursday,"Sister Angela, Homer, Crazy Woman/Virgin, Aman...","Angel Aquino, Perry Dizon, Hazel Orencio, Joel..."
43285,False,0,unknown,227506,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003504,Yermoliev,Russia,...,0.0,0.0,unknown,"Yakov Protazanov, Joseph N. Ermolieff",1917,10,21,Sunday,", , , ,","Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav..."
43286,False,0,unknown,461257,en,Queerama,50 years after decriminalisation of homosexual...,0.163000,unknown,United Kingdom,...,0.0,0.0,unknown,Daisy Asquith,2017,6,9,Friday,unknown,unknown

In [ ]:
def top_movies(num = 100, quantile = 0.95, data = data_02):
    req_votes = np.quantile(data['vote_count'], quantile)
    
    new_data = data[data['vote_count']>req_votes]
    means = new_data['vote_average']
    tot_mean = new_data['vote_average'].mean()
    votes = new_data['vote_count']
    
    new_data['ratings'] = (votes/(votes+req_votes)*means + req_votes/(votes+req_votes)*tot_mean)
    
    return new_data.sort_values('ratings', ascending = False).iloc[:num,:].reset_index(drop=True)

In [ ]:
def clean(x):
    res = []
    for w in x:
        if w not in stopwords_english:
            w = stemmer.stem(re.sub('[^a-zA-z0-9]', '', w))
            if(len(w)>0):
                res.append(w)
    return res

def preprocess(data_02):
    stemmer = PorterStemmer()
    docs = []
    DF = {}
    
    for ind, row in data_02.iterrows():
        set_title = set()
        doc_count = 0
        title = row['original_title'].lower().strip().split()
        title += row['genres'].lower().strip().split()
        title += row['actors'].lower().strip().split()
        body = row['overview'].lower().strip().split()
        body = clean(body)
        
        for word in title+body:
            if word in DF:
                if row.name in DF[word]:
                    DF[word][row.name]+=1
                else:
                    DF[word][row.name] = 1
            else:
                DF[word] = {}
                DF[word][row.name] = 1
            
            doc_count+=1
            if word in title:
                set_title.add(word)
        docs.append((doc_count, set_title))

    return DF, docs

In [ ]:
def generate_cosine_tfidf(data_02, alpha = 0.6):
    DF, docs = preprocess(data_02)
    tf_idf = np.zeros((len(docs), len(DF)))
    
    for i, (word, key) in enumerate(DF.items()):
        w_count = np.sum([value for _, value in key.items()])
        for ind, value in key.items():
            tf = value/docs[ind][0]
            idf = np.log(len(docs)/(w_count+1))
            tfidf = tf*idf*(1-alpha)
            if word in docs[ind][1]:
                tfidf = tf*idf*alpha
            
            tf_idf[ind][i] = tfidf
    return cosine_similarity(tf_idf)

In [ ]:
movies = top_movies(40000)
tf_idf = generate_cosine_tfidf(movies, alpha = 0.4)

In [ ]:
movies.head(5)

,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,...,vote_count,keywords,crew,year,month,day,day_name,characters,actors,ratings
0,False,25000000,"Drama, Crime",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,51.66,"Castle Rock Entertainment, Warner Bros.",United States of America,...,8360.0,"prison, corruption, police brutality, prison c...","Frank Darabont, Niki Marvin, Thomas Newman, Ro...",1994,9,23,Friday,"Andy Dufresne, Ellis Boyd 'Red' Redding, Warde...","Tim Robbins, Morgan Freeman, Bob Gunton, Clanc...",8.409865
1,False,6000000,"Drama, Crime",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",41.10,"Paramount Pictures, Alfran Productions",United States of America,...,6024.0,"italy, love at first sight, loss of father, pa...","Francis Ford Coppola, Francis Ford Coppola, Gr...",1972,3,14,Tuesday,"Don Vito Corleone, Michael Corleone, Santino '...","Marlon Brando, Al Pacino, James Caan, Richard ...",8.377204
2,False,185000000,"Drama, Action, Crime, Thriller",155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,123.20,"DC Comics, Legendary Pictures, Warner Bros., D...","United Kingdom, United States of America",...,12270.0,"dc comics, crime fighter, secret identity, sca...","Lucinda Syson, Hans Zimmer, Charles Roven, Chr...",2008,7,16,Wednesday,"Bruce Wayne / Batman, Alfred Pennyworth, Joker...","Christian Bale, Michael Caine, Heath Ledger, A...",8.244292
3,False,63000000,Drama,550,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,63.88,"Twentieth Century Fox Film Corporation, Regenc...","Germany, United States of America",...,9680.0,"support group, dual identity, nihilism, rage a...","Arnon Milchan, Michael Kaplan, Art Linson, Ale...",1999,10,15,Friday,"The Narrator, Tyler Durden, Robert 'Bob' Pauls...","Edward Norton, Brad Pitt, Meat Loaf, Jared Let...",8.230010
4,False,8000000,"Thriller, Crime",680,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",141.00,"Miramax Films, A Band Apart, Jersey Films",United States of America,...,8670.0,"transporter, brothel, drug dealer, boxer, mass...","Quentin Tarantino, Quentin Tarantino, Roger Av...",1994,9,10,Saturday,"Vincent Vega, Jules Winfield, Mia Wallace, But...","John Travolta, Samuel L. Jackson, Uma Thurman,...",8.222235

In [ ]:
Title = []
Genres = []
Actors = []
Overview = []

In [ ]:
Title_02 = []
Genres_02 = []
Actors_02 = []
Overview_02 = []

In [ ]:
Title_03 = []
Genres_03 = []
Actors_03 = []
Overview_03 = []

In [ ]:
Cosine_SC_01 = []
Cosine_SC_02 = []
Cosine_SC_03 = []

In [ ]:
def predict_movies(movie_name = "The Dark Knight", num = 10, verbose = 2, out = True, data = movies, tf_idf = tf_idf):
    try:
        ind = data[data['original_title'] == movie_name].index[0]
        output = data.loc[[val for val in np.argsort(tf_idf[ind])[::-1][1:num+1]]]
        if verbose == 2:
            print("The TF-IDF Cosine similarity scores for relevant movies are as follows:\n")
            print([Cosine_SC_03.append(round(val,2)) for val in np.sort(tf_idf[ind])[::-1][1:num+1]], '\n')
        if verbose >= 1:
            print(f'The top {num} recommended movies for "{movie_name}" are as follows:\n')
            for ind, row in output.iterrows():
                print("Title: {}".format(row['original_title']))
                Title_03.append(row['original_title'])
                print("Rating: {}".format(round(row['ratings'], 1)))
                print("Genres: {}".format(row['genres']))
                Genres_03.append(row['genres'])
                print("Actors: {}".format(row['actors']))
                Actors_03.append(row['actors'])
                print("Overview: {}".format(row['overview']))
                Overview_03.append(row['overview'])
                #print("IMDB Link: https://www.imdb.com/title/{}".format(row['imdb_id']))
                print("*****************************************************\n")
        if(out):
            return output
    except:
        print("MOVIE NOT FOUND!")

In [ ]:
predict_movies("Toy Story", num = 10, verbose = 2, out = False, data = movies, tf_idf = tf_idf)

The TF-IDF Cosine similarity scores for relevant movies are as follows:

[None, None, None, None, None, None, None, None, None, None]

The top 10 recommended movies for "Toy Story" are as follows:

Title: Toy Story 2
Rating: 7.2
Genres: Animation, Comedy, Family
Actors: Tom Hanks, Tim Allen, Joan Cusack, Kelsey Grammer, Don Rickles, Jim Varney, Wallace Shawn, John Ratzenberger, Annie Potts, Wayne Knight, John Morris, Laurie Metcalf, Estelle Harris, R. Lee Ermey, Jodi Benson, Jonathan Harris, Joe Ranft, Andrew Stanton, Jeff Pidgeon, Corey Burton, John Lasseter, Mickie McGowan, Phil Proctor, Lee Unkrich
Overview: Andy heads off to Cowboy Camp, leaving his toys to their own devices. Things shift into high gear when an obsessive toy collector named Al McWhiggen, owner of Al's Toy Barn kidnaps Woody. Andy's toys mount a daring rescue mission, Buzz Lightyear meets his match and Woody has to decide where he and his heart truly belong.
*****************************************************

Title: Toy Story 3
Rating: 7.5
Genres: Animation, Family, Comedy
Actors: Tom Hanks, Tim Allen, Ned Beatty, Joan Cusack, Michael Keaton, Whoopi Goldberg, Bonnie Hunt, Wallace Shawn, John Ratzenberger, Don Rickles, Estelle Harris, John Morris, Jodi Benson, Emily Hahn, Laurie Metcalf, Blake Clark, Teddy Newton, Kristen Schaal, R. Lee Ermey, Bud Luckey, Beatrice Miller, Timothy Dalton, Lori Alan, Jeff Garlin, John Cygan, Jeff Pidgeon, Jack Angel, Jan Rabson, Richard Kind, Erik von Detten, Jack Willis, Carlos Alazraqui, Teresa Ganzel, Jess Harnell, Danny Mann, Mickie McGowan, Laraine Newman, Colleen O'Shaughnessey, Bob Peterson, Jerome Ranft, Lee Unkrich, Colette Whitaker, Sherry Lynn, Jim Ward, Frank Welker
Overview: Woody, Buzz, and the rest of Andy's toys haven't been played with in years. With Andy about to go to college, the gang find themselves accidentally left at a nefarious day care center. The toys must band together to escape and return home to Andy.
*****************************************************

Title: The 40 Year Old Virgin
Rating: 6.3
Genres: Comedy, Romance
Actors: Steve Carell, Catherine Keener, Paul Rudd, Romany Malco, Seth Rogen, Jane Lynch, Leslie Mann, Elizabeth Banks, Kat Dennings, Mindy Kaling, Marilyn Dodds Frank, Gerry Bednob, Shelley Malil, Jordan Masterson, Chelsea Smith, Erica Vittina Phillips, Marika Dominczyk, Mo Collins, Lee Weaver, Stormy Daniels, Kevin Hart, Jonah Hill, Gillian Vigman, Kimberly Page, Siena Goines, Charlie Hartsock, Nancy Carell, Cedric Yarbrough, David Koechner, Jeff Kahn, Nick Lashaway, Loren Berman, Miki Mia, Jazzmun, Shannon Bradley, Brianna Brown, Liz Carey, Elizabeth DeCicco, Hilary Shepard, Barret Swatek, Carla Gallo, Michael Bierman, Marisa Guterman, Wayne Federman, Ron Marasco, Kate Luyben, Joe Nunez, Rose Abdoo, Steve Bannos, Brooke Hamlin, Miyoko Shimosawa, Ann Christine, Brandon Killham, Nicole Randall Johnson, Suzy Nakamura, Jenna Fischer, Stephanie Lemelin, Jamie Elle Mann, Leah McCormick, Samantha J. Reese, Brittney Skye, Phyllis Smith, Christopher T. Wood, Wyatt Smith, Kira Turnage, Penny Vital, Christa Nicole Wells
Overview: Andy Stitzer has a pleasant life with a nice apartment and a job stamping invoices at an electronics store. But at age 40, there's one thing Andy hasn't done, and it's really bothering his sex-obsessed male co-workers: Andy is still a virgin. Determined to help Andy get laid, the guys make it their mission to de-virginize him. But it all seems hopeless until Andy meets small business owner Trish, a single mom.
*****************************************************

Title: How to Lose a Guy in 10 Days
Rating: 6.4
Genres: Comedy, Romance
Actors: Kate Hudson, Matthew McConaughey, Kathryn Hahn, Annie Parisse, Adam Goldberg, Thomas Lennon, Michael Michele, Shalom Harlow, Robert Klein, Bebe Neuwirth, Samantha Quan, Justin Peroff, Celia Weston, James Murtaugh, Rebecca Harris, Archie MacGregor, John DiResta, Scott Benes, Zachary Benes, William Hill, Georgia Craig, Andrew Moodie
Overview: An advice columnist, Andie Anderson (Kate Hudson), tries pushing the boundaries of what she can write about in her new piece about how to get a man to leave you in 10 days. Her editor, Lana (Bebe Neuwirth), loves it, and Andie goes off to find a man she can use for the experiment. Enter executive Ben Berry (Matthew McConaughey), who is so confident in his romantic prowess that he thinks he can make any woman fall in love with him in 10 days. When Andie and Ben meet, their plans backfire.
*****************************************************

Title: Man on the Moon
Rating: 6.8
Genres: Comedy, Drama, Romance
Actors: Jim Carrey, Courtney Love, Bob Zmuda, Danny DeVito, Gerry Becker, Leslie Lyles, Greyson Erik Pendry, George Shapiro, Vincent Schiavelli, Paul Giamatti, Christopher Lloyd, Jeff Conaway, Patton Oswalt, Pamela Abdy, David Koechner, Jerry Lawler, Jim Ross
Overview: A film about the life and career of the eccentric avant-garde comedian, Andy Kaufman.
*****************************************************

Title: Match Point
Rating: 7.0
Genres: Drama, Thriller, Crime, Romance
Actors: Jonathan Rhys Meyers, Scarlett Johansson, Emily Mortimer, Brian Cox, Penelope Wilton, James Nesbitt, Ewen Bremner, Miranda Raison, Margaret Tyzack, Rupert Penry-Jones, Toby Kebbell, Alexander Armstrong, Matthew Goode, Paul Kaye, Mark Gatiss, Simon Kunz, Geoffrey Streatfeild, John Fortune, Anthony O'Donnell, Rose Keegan, Zoe Telford, Scott Handy, Selina Cadell, Georgina Chapman, Colin Salmon, Steve Pemberton, Janis Kelly, Alan Oke, Emily Gilchrist, Eddie Marsan
Overview: Match Point is Woody Allenâ€™s satire of the British High Society and the ambition of a young tennis instructor to enter into it. Yet when he must decide between two women - one assuring him his place in high society, and the other that would bring him far from it - palms start to sweat and a dark psychological match in his head begins.
*****************************************************

Title: Small Soldiers
Rating: 6.4
Genres: Comedy, Adventure, Fantasy, Science Fiction, Action
Actors: Gregory Smith, Kirsten Dunst, Denis Leary, Phil Hartman, David Cross, Jay Mohr, Kevin Dunn, Ann Magnuson, Wendy Schaal, Jacob Smith, Tommy Lee Jones, Frank Langella, Ernest Borgnine, Jim Brown, Bruce Dern, George Kennedy, Clint Walker, Christopher Guest, Michael McKean, Harry Shearer, Sarah Michelle Gellar, Christina Ricci, Dick Miller
Overview: When missile technology is used to enhance toy action figures, the toys soon begin to take their battle programming too seriously.
*****************************************************

Title: Monsters, Inc.
Rating: 7.4
Genres: Animation, Comedy, Family
Actors: John Goodman, Billy Crystal, Mary Gibbs, Steve Buscemi, James Coburn, Jennifer Tilly, Bob Peterson, John Ratzenberger, Frank Oz, Steve Susskind, Bonnie Hunt, Jeff Pidgeon, Samuel Lord Black, Jack Angel, Bob Bergen, Rodger Bumpass, Gino Conforti, Jennifer Darling, Patti Deutsch, Pete Docter, Bobby Edner, Ashley Edner, Paul Eiding, Katie Scarlettr, Bill Farmer, Keegan Farrell, Pat Fraley, Teresa Ganzel, Taylor Gifaldi, Marc John Jefferies, Joe Lala, Noah Luke, Sherry Lynn, Danny Mann, Mona Marshall, Mickie McGowan, Laraine Newman, Kay Panabaker, Bret 'Brook' Parker, Phil Proctor, Josh Qualtieri, Guido Quaroni, Jan Rabson, Lisa Raggio, Joe Ranft, Katherine Ringgold, Sophia Ranft, Bob Scott, Jim Thornton, Lee Unkrich, Wallace Shawn, Daniel Gerson, David Silverman
Overview: James Sullivan and Mike Wazowski are monsters, they earn their living scaring children and are the best in the business... even though they're more afraid of the children than they are of them. When a child accidentally enters their world, James and Mike suddenly find that kids are not to be afraid of and they uncover a conspiracy that could threaten all children across the world.
*****************************************************

Title: The Thin Red Line
Rating: 7.0
Genres: Drama, History, War
Actors: Sean Penn, Adrien Brody, Jim Caviezel, Ben Chaplin, George Clooney, John Cusack, Woody Harrelson, Elias Koteas, Nick Nolte, John C. Reilly, John Travolta, Kirk Acevedo, Mark Boone Junior, Matt Doran, Paul Gleeson, Don Harvey, Arie Verveen, Jared Leto, John Savage, Nick Stahl, Miranda Otto, Tim Blake Nelson, Dash Mihok, Larry Romano, Penelope Allen, Danny Hoch, Philip Ettington
Overview: Based on the graphic novel by James Jones, The Thin Red Line tells the story of a group of men, an Army Rifle company called C-for-Charlie, who change, suffer, and ultimately make essential discoveries about themselves during the fierce World War II battle of Guadalcanal. It follows their journey, from the surprise of an unopposed landing, through the bloody and exhausting battles that follow, to the ultimate departure of those who survived. A powerful frontline cast - including Sean Penn, Nick Nolte, Woody Harrelson and George Clooney - explodes into action in this hauntingly realistic view of military and moral chaos in the Pacific during World War II.
*****************************************************

Title: Step Up 2: The Streets
Rating: 6.5
Genres: Music, Drama, Romance
Actors: Briana Evigan, Robert Hoffman, Will Kemp, Cassie Ventura, Adam G. Sevani, Danielle Polanco, Telisha Shaw, Black Thomas, Mari Koda, Harry Shum Jr., Hi-Hat, Kate Lacey, Channing Tatum
Overview: When rebellious street dancer Andie lands at the elite Maryland School of the Arts, she finds herself fighting to fit in while also trying to hold onto her old life. When she joins forces with the schools hottest dancer, Chase, to form a crew of classmate outcasts to compete in Baltimore s underground dance battle The Streets.
*****************************************************

In [ ]:
print(Cosine_SC_01)

[0.49, 0.41, 0.15, 0.13, 0.08, 0.08, 0.07, 0.07, 0.07, 0.07]

In [ ]:
predict_movies("Pinocchio", num = 10, verbose = 2, out = False, data = movies, tf_idf = tf_idf)

The TF-IDF Cosine similarity scores for relevant movies are as follows:

[None, None, None, None, None, None, None, None, None, None]

The top 10 recommended movies for "Pinocchio" are as follows:

Title: Bedazzled
Rating: 6.1
Genres: Fantasy, Comedy, Romance
Actors: Elizabeth Hurley, Brendan Fraser, Frances O'Connor, Orlando Jones, Paul Adelstein, Toby Huss, Gabriel Casseus, Miriam Shor, Brian Doyle-Murray, Jeff Doucette, Aaron Lustig
Overview: Elliot Richardson, suicidal techno geek, is given seven wishes to turn his life around when he meets up with a very seductive Satan. The catch: his soul. Some of his wishes include a 7 foot basketball star, a rock star, and a hamburger. But, as could be expected, the Devil must put her own little twist on each his fantasies.
*****************************************************

Title: Liar Liar
Rating: 6.5
Genres: Comedy
Actors: Jim Carrey, Maura Tierney, Cary Elwes, Jennifer Tilly, Swoosie Kurtz, Sara Paxton, Anne Haney, Amanda Donohoe, Jason Bernard, Mitchell Ryan, Krista Allen, Justin Cooper, Christopher Mayer
Overview: Fletcher Reede is a fast-talking attorney and habitual liar. When his son Max blows out the candles on his fifth birthday he has just one wish - that his dad will stop lying for 24 hours. When Max's wish comes true, Fletcher discovers that his mouth has suddenly become his biggest liability.
*****************************************************

Title: Eat Pray Love
Rating: 6.1
Genres: Drama
Actors: Julia Roberts, James Franco, Javier Bardem, Billy Crudup, Richard Jenkins, Viola Davis, I. Gusti Ayu Puspawati, Hadi Subiyanto, A. Jay Radcliff, Mike O'Malley, Ashlie Atkinson, Lisa Roberts Gillan, Ryan O'Nan, Gita Reddy, Gita Reddy, Gita Reddy, Jen Kwok, Mary Testa, Tuva Novotny
Overview: Liz Gilbert had everything a modern woman is supposed to dream of having â€“ a husband, a house and a successful career â€“ yet like so many others, she found herself lost, confused and searching for what she really wanted in life. Newly divorced and at a crossroads, Gilbert steps out of her comfort zone, risking everything to change her life, embarking on a journey around the world that becomes a quest for self-discovery. In her travels, she discovers the true pleasure of nourishment by eating in Italy, the power of prayer in India and, finally and unexpectedly, the inner peace and balance of true love in Bali.
*****************************************************

Title: Big
Rating: 6.8
Genres: Fantasy, Drama, Comedy, Romance, Family
Actors: Tom Hanks, Elizabeth Perkins, Robert Loggia, John Heard, Jared Rushton, David Moscow, Jon Lovitz, Mercedes Ruehl, Josh Clark, Allan Wasserman, Kimberlee M. Davis, Oliver Block, Erika Katz, Mark Ballou, Gary Howard Klar
Overview: A young boy, Josh Baskin makes a wish at a carnival machine to be big. He wakes up the following morning to find that it has been granted and his body has grown older overnight. But he is still the same 13-year-old boy inside. Now he must learn how to cope with the unfamiliar world of grown-ups including getting a job and having his first romantic encounter with a woman. What will he find out about this strange world?
*****************************************************

Title: Chicken Little
Rating: 5.9
Genres: Animation, Family, Comedy
Actors: Zach Braff, Joan Cusack, Dan Molina, Steve Zahn, Garry Marshall, Amy Sedaris, Mark Walton, Don Knotts, Sean Elmore, Matthew Josten, Evan Dunn, Fred Willard, Catherine O'Hara, Mark Dindal, Patrick Stewart, Wallace Shawn, Patrick Warburton, Adam West, Harry Shearer, Joe Whyte, Kelly Hoover, Will Finn, Dara McGarry, Mark Kennedy
Overview: When the sky really is falling and sanity has flown the coop, who will rise to save the day? Together with his hysterical band of misfit friends, Chicken Little must hatch a plan to save the planet from alien invasion and prove that the world's biggest hero is a little chicken.
*****************************************************

Title: Spaceballs
Rating: 6.7
Genres: Comedy, Science Fiction
Actors: Mel Brooks, Rick Moranis, Bill Pullman, Daphne Zuniga, John Candy, George Wyner, Joan Rivers, Dick Van Patten, Michael Winslow, Lorene Yarnell Jansson, John Hurt, Ed Gale, Stephen Tobolowsky, Sandy Helberg, Dom DeLuise, Phil Hartman, Tress MacNeille, Corey Burton, Michael York, Rick Ducommun, Rudy De Luca, Ken Olfson, Denise Gallup, Dian Gallup, Jim Jackman, Jim J. Bullock, Sal Viscuso, John Hurt
Overview: When the nefarious Dark Helmet hatches a plan to snatch Princess Vespa and steal her planet's air, space-bum-for-hire Lone Starr and his clueless sidekick fly to the rescue. Along the way, they meet Yogurt, who puts Lone Starr wise to the power of "The Schwartz." Can he master it in time to save the day?
*****************************************************

Title: Ella Enchanted
Rating: 6.3
Genres: Family, Fantasy, Comedy
Actors: Anne Hathaway, Hugh Dancy, Cary Elwes, Vivica A. Fox, Joanna Lumley, Jimi Mistry, Steve Coogan, Aidan McArdle, Heidi Klum, Jim Carter, Jennifer Higham, Parminder Nagra, Lucy Punch, Minnie Driver, Patrick Bergin, Eric Idle, Donna Dent
Overview: Ella lives in a magical world in which each child, at the moment of their birth, is given a virtuous "gift" from a fairy godmother. Ella's so-called gift, however, is obedience. This birthright proves itself to be quite the curse once Ella finds herself in the hands of several unscrupulous characters whom she quite literally cannot disobey. Determined to gain control of her life and decisions, Ella sets off on a journey to find her fairy godmother who she hopes will lift the curse. The path, however, isn't easy -- Ella must outwit a slew of unpleasant obstacles including ogres, giants, wicked stepsisters, elves and Prince Charmont's evil uncle, who wants to take over the crown and rule the kingdom.
*****************************************************

Title: Rush Hour 2
Rating: 6.5
Genres: Action, Comedy, Crime, Thriller
Actors: Chris Tucker, Jackie Chan, Zhang Ziyi, Roselyn SÃ¡nchez, Ernie Reyes, Jr., Don Cheadle, John Lone, Maggie Q, Alan King, Harris Yulin, Kenneth Tsang, Lisa LoCicero, Meiling MelanÃ§on, Lucy Lin, Cindy Lu, Jeremy Piven
Overview: It's vacation time for Carter as he finds himself alongside Lee in Hong Kong wishing for more excitement. While Carter wants to party and meet the ladies, Lee is out to track down a Triad gang lord who may be responsible for killing two men at the American Embassy. Things get complicated as the pair stumble onto a counterfeiting plot. The boys are soon up to their necks in fist fights and life-threatening situations. A trip back to the U.S. may provide the answers about the bombing, the counterfeiting, and the true allegiance of sexy customs agent Isabella.
*****************************************************

Title: 17 Again
Rating: 6.2
Genres: Comedy
Actors: Zac Efron, Leslie Mann, Matthew Perry, Tyler Steelman, Allison Miller, Michelle Trachtenberg, Sterling Knight, Thomas Lennon, Kat Graham, Tiya Sircar, Melissa Ordway, Josie Loren, Jim Gaffigan, Collette Wolfe, Adam Gregory, Hunter Parrish, Mario Cassem, Melora Hardin, Brian Doyle-Murray, Tommy Dewey, Lorna Scott, Kodi Kitchen, Diana Maria Riva, Ellis E. Williams, Ed Ackerman, Will Schaub, Loren Lester, Nicole Sullivan, Margaret Cho, Larry Poindexter, Bubba Lewis, Chris Valenti, G. Lane Hillman, Hope Riley, Jeanine Jackson, Gregory Sporleder, Keith Oney, Leonard Wu, Liana Blackburn, Lindsay Taylor, Shelby Rabara, Danielle E. Hawkins, Katrina Norman, Rhapsody Violetti, Tiana Brown, Taisha Monique Clark, Vanessa Lee Chester, Tyne Stecklein, Jordan Schatz
Overview: On the brink of a midlife crisis, 30-something Mike O'Donnell wishes he could have a "do-over." And that's exactly what he gets when he wakes up one morning to find he's 17 years old again. With his adult mind stuck inside the body of a teenager, Mike actually has the chance to reverse some decisions he wishes he'd never made. But maybe they weren't so bad after all.
*****************************************************

Title: The Giver
Rating: 6.4
Genres: Drama, Science Fiction
Actors: Jeff Bridges, Meryl Streep, Brenton Thwaites, Odeya Rush, Alexander SkarsgÃ¥rd, Katie Holmes, Taylor Swift, Cameron Monaghan, Emma Tremblay, Katharina Damm, Alexander Jillings, James Jillings, Jordan Nicholas Smal, Saige Fernandes, Renate Stuurman, Vanessa Cooke, John Whiteley, Kira Wilkinson, Meganne Young, Thabo Rametsi, Vaughn Lucas, Jaime Coue, Jefferson Mays
Overview: In a seemingly perfect community, without war, pain, suffering, differences or choice, a young boy is chosen to learn from an elderly man about the true pain and pleasure of the "real" world.
*****************************************************

In [ ]:
predict_movies("Titanic", num = 10, verbose = 2, out = False, data = movies, tf_idf = tf_idf)

The TF-IDF Cosine similarity scores for relevant movies are as follows:

[None, None, None, None, None, None, None, None, None, None]

The top 10 recommended movies for "Titanic" are as follows:

Title: La leggenda del pianista sull'oceano
Rating: 7.5
Genres: Fantasy
Actors: Tim Roth, Pruitt Taylor Vince, MÃ©lanie Thierry, Bill Nunn, Gabriele Lavia, Clarence Williams III, MÃ©lanie Thierry, Peter Vaughan, Niall O'Brien, Alberto Vazquez, Luca De Luigi, Femi Elufowoju Jr., Nigel Fan, Roger Monk, Leonid Zaslavski, Bernard Padden
Overview: The story of a virtuoso piano player who lives his entire life aboard an ocean liner. Born and raised on the ship, 1900 (Tim Roth) learned about the outside world through interactions with passengers, never setting foot on land, even for the love of his life. Years later, the ship may be destroyed, and a former band member fears that 1900 may still be aboard, willing to go down with the ship.
*****************************************************

Title: Serenity
Rating: 7.2
Genres: Science Fiction, Action, Adventure, Thriller
Actors: Nathan Fillion, Gina Torres, Alan Tudyk, Morena Baccarin, Adam Baldwin, Jewel Staite, Sean Maher, Summer Glau, Ron Glass, Chiwetel Ejiofor, David Krumholtz, Michael Hitchcock, Sarah Paulson, Yan Feldman, Rafael Feldman, Nectar Rose, Tamara Taylor, Glenn Howerton, Hunter Ansley Wryn, Logan O'Brien, Erik Erotas, Demetra Raven, Marley McClean, Jessica Huang, Scott Kinworthy, Erik Weiner, Conor O'Brien, Peter James Smith, Weston Nathanson, Carrie 'CeCe' Cline, Chuck O'Neil, Amy Wieczorek, Tristan Jarred, Elaine Mani Lee, Terrence Hardy Jr., Brian O'Hare, Ryan Tasz, Colin Patrick Lynch, Terrell Tilford, Joshua Michael Kwiat, Antonio Rufino, Linda Wang, Mark Winn, Rick Williamson
Overview: When the renegade crew of Serenity agrees to hide a fugitive on their ship, they find themselves in an action-packed battle between the relentless military might of a totalitarian regime who will destroy anything â€“ or anyone â€“ to get the girl back and the bloodthirsty creatures who roam the uncharted areas of space. But... the greatest danger of all may be on their ship.
*****************************************************

Title: Ghost Ship
Rating: 5.9
Genres: Horror, Mystery, Thriller
Actors: Gabriel Byrne, Julianna Margulies, Desmond Harrington, Ron Eldard, Isaiah Washington, Karl Urban, Emily Browning, Francesca Rettondini, Bob Ruggiero, Jamie Giddens, Alex Dimitriades
Overview: After discovering a passenger ship missing since 1962 floating adrift on the Bering Sea, salvagers claim the vessel as their own. Once they begin towing the ghost ship towards harbor, a series of bizarre occurrences happen and the group becomes trapped inside the ship, which they soon learn is inhabited by a demonic creature.
*****************************************************

Title: Master and Commander: The Far Side of the World
Rating: 6.8
Genres: Adventure
Actors: Russell Crowe, Paul Bettany, James D'Arcy, Billy Boyd, Joseph Morgan, Edward Woodall, Chris Larkin, Max Pirkis, Jack Randall, Max Benitz, Lee Ingleby, Richard Pates, Robert Pugh, Richard McCabe, Ian Mercer, Tony Dolan, David Threlfall, Bryan Dick, George Innes, William Mannering, Patrick Gallagher, Alex Palmer, Mark Lewis Jones, John DeSantis, Ousmane Thiam, Thierry Segall
Overview: After an abrupt and violent encounter with a French warship inflicts severe damage upon his ship, a captain of the British Royal Navy begins a chase over two oceans to capture or destroy the enemy, though he must weigh his commitment to duty and ferocious pursuit of glory against the safety of his devoted crew, including the ship's thoughtful surgeon, his best friend.
*****************************************************

Title: Wrath of the Titans
Rating: 5.8
Genres: Adventure
Actors: Sam Worthington, Liam Neeson, Ralph Fiennes, Edgar RamÃ­rez, Toby Kebbell, Rosamund Pike, Bill Nighy, Danny Huston, John Bell, Lily James, Alejandro Naranjo, Freddy Drabble, Kathryn Carpenter, Matt Milne, Kett Turton, SinÃ©ad Cusack, Spencer Wilding, Martin Bayfield
Overview: A decade after his heroic defeat of the monstrous Kraken, Perseus-the demigod son of Zeus-is attempting to live a quieter life as a village fisherman and the sole parent to his 10-year old son, Helius. Meanwhile, a struggle for supremacy rages between the gods and the Titans. Dangerously weakened by humanity's lack of devotion, the gods are losing control of the imprisoned Titans and their ferocious leader, Kronos, father of the long-ruling brothers Zeus, Hades and Poseidon.
*****************************************************

Title: Event Horizon
Rating: 6.5
Genres: Horror, Science Fiction, Mystery
Actors: Laurence Fishburne, Sam Neill, Kathleen Quinlan, Joely Richardson, Richard T. Jones, Jack Noseworthy, Jason Isaacs, Sean Pertwee, Peter Marinker, Holley Chant, Barclay Wright, Noah Huntley, Robert Jezek, Emily Booth, Teresa May
Overview: In the year 2047 a group of astronauts are sent to investigate and salvage the long lost starship "Event Horizon". The ship disappeared mysteriously 7 years before on its maiden voyage and with its return comes even more mystery as the crew of the "Lewis and Clark" discover the real truth behind its disappearance and something even more terrifying.
*****************************************************

Title: Return of the Jedi
Rating: 7.8
Genres: Adventure, Action, Science Fiction
Actors: Mark Hamill, Harrison Ford, Carrie Fisher, Billy Dee Williams, Anthony Daniels, David Prowse, Kenny Baker, Peter Mayhew, Frank Oz, Ian McDiarmid, James Earl Jones, Sebastian Shaw, Alec Guinness, Warwick Davis, Caroline Blakiston, Michael Pennington, Kenneth Colley, Michael Carter, Denis Lawson, Tim Rose, Dermot Crowley, Jeremy Bulloch, Femi Taylor, Annie Arbogast, Claire Davenport, Jack Purvis, Mike Edmonds, Jane Busby, Malcolm Dixon, Mike Cottrell, Nicki Reade, Adam Bareham, Jonathan Oliver, Pip Miller, Tom Mannion, Margo Apostolos, Ray Armstrong, Eileen Baker, Michael Henbury Ballan, Bobby Bell, Patty Bell, Alan Bennett, Sarah Bennett, Pamela Betts, Danny Blackner, Linda Bowley, Peter Burroughs, Debbie Lee Carrington, Maureen Charlton, Willie Coppen, Sadie Corre, Tony Cox, John Cumming, Jean D'Agostino, Luis De Jesus, Debbie Dixon, Margarita FernÃ¡ndez, Phil Fondacaro, Sal Fondacaro, Tony Friel, Daniel Frishman, John Ghavan, Michael Gilden, Paul Grant, Lydia Green, Lars Green, Pam Grizz, Andrew Herd, J.J. Jackson, Richard Jones, Trevor Jones, Glynn Jones, Karen Lay, John Lummiss, Nancy MacLean, Peter Mandell, Carole Morris, Stacie Nichols, Chris Nunn, Barbara O'Laughlin, Brian Orenstein, Harrell Parker Jr., John Pedrick, April Perkins, Ronnie Phillips, Katie Purvis, Carol Read, Nicholas Read, Diana Reynolds, Danielle Rodgers, Chris Romano, Dean Shackelford, Kiran Shah, Felix Silla, Linda Spriggs, Gerald Staddon, Josephine Staddon, Kevin Thompson, Kendra Wall, Brian Wheeler, Butch Wilhelm, Dalyn Chew, Celia Fushille-Burke, Mercedes Ngoh, Jennifer Jaffe, Mark Dodson, Simon J. Williamson, Richard Bonehill, David Gonzales, Barrie Holland, Peter Roy, Erik Bauersfeld, Mike Quinn, Bill Kipsang Rotich, Deep Roy, Alisa Berk, Hugh Spight, Swee Lim, Richard Robinson, Gerald Home, Phil Herbert, Tim Dry, Sean Crawford, Phil Tippett, Michael McCormick, Toby Philpott, David Alan Barclay, Larry Ward
Overview: As Rebel leaders map their strategy for an all-out attack on the Emperor's newer, bigger Death Star. Han Solo remains frozen in the cavernous desert fortress of Jabba the Hutt, the most loathsome outlaw in the universe, who is also keeping Princess Leia as a slave girl. Now a master of the Force, Luke Skywalker rescues his friends, but he cannot become a true Jedi Knight until he wages his own crucial battle against Darth Vader, who has sworn to win Luke over to the dark side of the Force.
*****************************************************

Title: Triangle
Rating: 6.8
Genres: Horror
Actors: Melissa George, Liam Hemsworth, Emma Lung, Rachael Carpani, Michael Dorman, Joshua McIvor, Henry Nixon, Jack Taylor, Bryan Probets
Overview: The story revolves around the passengers of a yachting trip in the Atlantic Ocean who, when struck by mysterious weather conditions, jump to another ship only to experience greater havoc on the open seas.
*****************************************************

Title: Wreck-It Ralph
Rating: 7.1
Genres: Family, Animation, Comedy, Adventure
Actors: John C. Reilly, Sarah Silverman, Jack McBrayer, Jane Lynch, Alan Tudyk, Mindy Kaling, Joe Lo Truglio, Ed O'Neill, Dennis Haysbert, Adam Carolla, Horatio Sanz, Rich Moore, Edie McClurg, Jess Harnell, Rachael Harris, Skylar Astin, Katie Lowes, Jamie Elman, Josie Trinidad, Cymbre Walk, Phil Johnston, Stefanie Scott, John DiMaggio, Raymond S. Persi, Brian Kesinger, Martin Jarvis, Tucker Gilmore, Brandon Scott, Tim Mertens, Maurice LaMarche, Roger Craig Smith, Kyle Hebert, Reuben Langdon, Gerald C. Rivers, Kevin Deters, Jamie Sparer Roberts, Ava Acres, Isabella Acres, Bob Bergen, David Boat, Mike Carlsen, Reed Buck, David Cowgill, Jim Cummings, Debi Derryberry, Terri Douglas, Sandy Fox, Eddie Frierson, Earl Ghaffari, Emily Hahn, Jennifer Hale, Daniel Kaz, Dave Kohut, Lauren MacMullan, Mona Marshall, Scott Menville, Laraine Newman, Paul Pape, Lynwood Robinson, Trenton Rogers, Jadon Sand, Kath Soucie, April Stewart, Fred Tatasciore, Jennifer Christine Vera, E.G. Daily
Overview: Wreck-It Ralph is the 9-foot-tall, 643-pound villain of an arcade video game named Fix-It Felix Jr., in which the game's titular hero fixes buildings that Ralph destroys. Wanting to prove he can be a good guy and not just a villain, Ralph escapes his game and lands in Hero's Duty, a first-person shooter where he helps the game's hero battle against alien invaders. He later enters Sugar Rush, a kart racing game set on tracks made of candies, cookies and other sweets. There, Ralph meets Vanellope von Schweetz who has learned that her game is faced with a dire threat that could affect the entire arcade, and one that Ralph may have inadvertently started.
*****************************************************

Title: Any Given Sunday
Rating: 6.7
Genres: Drama
Actors: Al Pacino, Cameron Diaz, Dennis Quaid, James Woods, Jamie Foxx, LL Cool J, Matthew Modine, Jim Brown, Lawrence Taylor, Bill Bellamy, Aaron Eckhart, John C. McGinley, Andrew Bryniarski, Lauren Holly, Ann-Margret, Lela Rochon, Ron Madoff, Elizabeth Berkley, Charlton Heston, Delia Sheppard, Mary Fanaro, James Karen, Gianni Russo, Duane Martin, Clifton Davis, John Daniel, Patrick O'Hara, Jerry A. Sharp, Marty Wright, Mazio Royster, Todd Smith, Jamie Williams, Craig Thomson, Greg Orvis, Rick Johnson, Bjorn Nittmo, Matt Martinez, Pete Ohnegian, Brian E. O'Neal, Robert L. Goff, Skip McClendon, Derrick Lassic, Eric Miller, Kevin Reid, Oliver Stone, Phil Latzman, Barry Switzer, Mark Robert Ellis, Joseph A. Wilson, Margaret Betts, Antares Davis, Liz Petterson, Lester Speight, Kirsten Krueger, Joanna Theobalds, Tonya Oliver, Amy Dorris, Sarah Penman, Kathy Alzado Murray, Sacha Voski, Nikki Novak, Michelle Bernard, Lisa Ann Phillips, Cat Stone, Carin Abnathy, Micah West, Christy Tummond, Terrell Owens, Irving Fryar, Joe Schmidt, Tyler Cravens, Eva Tamargo, Tucker Brown
Overview: A star quarterback gets knocked out of the game and an unknown third stringer is called in to replace him. The unknown gives a stunning performance and forces the aging coach to reevaluate his game plans and life. A new co-owner/president adds to the pressure of winning. The new owner must prove her self in a male dominated world.
*****************************************************

In [ ]:
#@title Create DataFrame

In [ ]:
print(Title)
print(Title_02)
print(Title_03)

['Toy Story 2', 'Toy Story 3', 'The 40 Year Old Virgin', 'How to Lose a Guy in 10 Days', 'Man on the Moon', 'Match Point', 'Small Soldiers', 'Monsters, Inc.', 'The Thin Red Line', 'Step Up 2: The Streets']
['Bedazzled', 'Liar Liar', 'Eat Pray Love', 'Big', 'Chicken Little', 'Spaceballs', 'Ella Enchanted', 'Rush Hour 2', '17 Again', 'The Giver']
["La leggenda del pianista sull'oceano", 'Serenity', 'Ghost Ship', 'Master and Commander: The Far Side of the World', 'Wrath of the Titans', 'Event Horizon', 'Return of the Jedi', 'Triangle', 'Wreck-It Ralph', 'Any Given Sunday']

In [ ]:

# importing the modules
from IPython.display import display
import pandas as pd
  
# creating a DataFrame
dict = {'Title' : Title,
        'Genres' : Genres,
        'Actors' : Actors,
        'Overview' : Overview,
        'Cosine Similarity': Cosine_SC_01}
df1 = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df1)

,Title,Genres,Actors,Overview,Cosine Similarity
0,Toy Story 2,"Animation, Comedy, Family","Tom Hanks, Tim Allen, Joan Cusack, Kelsey Gram...","Andy heads off to Cowboy Camp, leaving his toy...",0.49
1,Toy Story 3,"Animation, Family, Comedy","Tom Hanks, Tim Allen, Ned Beatty, Joan Cusack,...","Woody, Buzz, and the rest of Andy's toys haven...",0.41
2,The 40 Year Old Virgin,"Comedy, Romance","Steve Carell, Catherine Keener, Paul Rudd, Rom...",Andy Stitzer has a pleasant life with a nice a...,0.15
3,How to Lose a Guy in 10 Days,"Comedy, Romance","Kate Hudson, Matthew McConaughey, Kathryn Hahn...","An advice columnist, Andie Anderson (Kate Huds...",0.13
4,Man on the Moon,"Comedy, Drama, Romance","Jim Carrey, Courtney Love, Bob Zmuda, Danny De...",A film about the life and career of the eccent...,0.08
5,Match Point,"Drama, Thriller, Crime, Romance","Jonathan Rhys Meyers, Scarlett Johansson, Emil...",Match Point is Woody Allenâ€™s satire of the Bri...,0.08
6,Small Soldiers,"Comedy, Adventure, Fantasy, Science Fiction, A...","Gregory Smith, Kirsten Dunst, Denis Leary, Phi...",When missile technology is used to enhance toy...,0.07
7,"Monsters, Inc.","Animation, Comedy, Family","John Goodman, Billy Crystal, Mary Gibbs, Steve...","James Sullivan and Mike Wazowski are monsters,...",0.07
8,The Thin Red Line,"Drama, History, War","Sean Penn, Adrien Brody, Jim Caviezel, Ben Cha...","Based on the graphic novel by James Jones, The...",0.07
9,Step Up 2: The Streets,"Music, Drama, Romance","Briana Evigan, Robert Hoffman, Will Kemp, Cass...",When rebellious street dancer Andie lands at t...,0.07

In [ ]:
# importing the modules
from IPython.display import display
import pandas as pd
  
# creating a DataFrame
dict = {'Title' : Title_02,
        'Genres' : Genres_02,
        'Actors' : Actors_02,
        'Overview' : Overview_02,
        'Cosine Similarity': Cosine_SC_02}
df2 = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df2)

,Title,Genres,Actors,Overview,Cosine Similarity
0,Bedazzled,"Fantasy, Comedy, Romance","Elizabeth Hurley, Brendan Fraser, Frances O'Co...","Elliot Richardson, suicidal techno geek, is gi...",0.09
1,Liar Liar,Comedy,"Jim Carrey, Maura Tierney, Cary Elwes, Jennife...",Fletcher Reede is a fast-talking attorney and ...,0.07
2,Eat Pray Love,Drama,"Julia Roberts, James Franco, Javier Bardem, Bi...",Liz Gilbert had everything a modern woman is s...,0.06
3,Big,"Fantasy, Drama, Comedy, Romance, Family","Tom Hanks, Elizabeth Perkins, Robert Loggia, J...","A young boy, Josh Baskin makes a wish at a car...",0.06
4,Chicken Little,"Animation, Family, Comedy","Zach Braff, Joan Cusack, Dan Molina, Steve Zah...",When the sky really is falling and sanity has ...,0.06
5,Spaceballs,"Comedy, Science Fiction","Mel Brooks, Rick Moranis, Bill Pullman, Daphne...",When the nefarious Dark Helmet hatches a plan ...,0.06
6,Ella Enchanted,"Family, Fantasy, Comedy","Anne Hathaway, Hugh Dancy, Cary Elwes, Vivica ...",Ella lives in a magical world in which each ch...,0.05
7,Rush Hour 2,"Action, Comedy, Crime, Thriller","Chris Tucker, Jackie Chan, Zhang Ziyi, Roselyn...",It's vacation time for Carter as he finds hims...,0.05
8,17 Again,Comedy,"Zac Efron, Leslie Mann, Matthew Perry, Tyler S...","On the brink of a midlife crisis, 30-something...",0.05
9,The Giver,"Drama, Science Fiction","Jeff Bridges, Meryl Streep, Brenton Thwaites, ...","In a seemingly perfect community, without war,...",0.05

In [ ]:
# importing the modules
from IPython.display import display
import pandas as pd
  
# creating a DataFrame
dict = {'Title' : Title_03,
        'Genres' : Genres_03,
        'Actors' : Actors_03,
        'Overview' : Overview_03,
        'Cosine Similarity': Cosine_SC_03}
df3 = pd.DataFrame(dict)
  
# displaying the DataFrame
display(df3)

,Title,Genres,Actors,Overview,Cosine Similarity
0,La leggenda del pianista sull'oceano,Fantasy,"Tim Roth, Pruitt Taylor Vince, MÃ©lanie Thierry...",The story of a virtuoso piano player who lives...,0.08
1,Serenity,"Science Fiction, Action, Adventure, Thriller","Nathan Fillion, Gina Torres, Alan Tudyk, Moren...",When the renegade crew of Serenity agrees to h...,0.07
2,Ghost Ship,"Horror, Mystery, Thriller","Gabriel Byrne, Julianna Margulies, Desmond Har...",After discovering a passenger ship missing sin...,0.06
3,Master and Commander: The Far Side of the World,Adventure,"Russell Crowe, Paul Bettany, James D'Arcy, Bil...",After an abrupt and violent encounter with a F...,0.06
4,Wrath of the Titans,Adventure,"Sam Worthington, Liam Neeson, Ralph Fiennes, E...",A decade after his heroic defeat of the monstr...,0.05
5,Event Horizon,"Horror, Science Fiction, Mystery","Laurence Fishburne, Sam Neill, Kathleen Quinla...",In the year 2047 a group of astronauts are sen...,0.05
6,Return of the Jedi,"Adventure, Action, Science Fiction","Mark Hamill, Harrison Ford, Carrie Fisher, Bil...",As Rebel leaders map their strategy for an all...,0.05
7,Triangle,Horror,"Melissa George, Liam Hemsworth, Emma Lung, Rac...",The story revolves around the passengers of a ...,0.05
8,Wreck-It Ralph,"Family, Animation, Comedy, Adventure","John C. Reilly, Sarah Silverman, Jack McBrayer...","Wreck-It Ralph is the 9-foot-tall, 643-pound v...",0.05
9,Any Given Sunday,Drama,"Al Pacino, Cameron Diaz, Dennis Quaid, James W...",A star quarterback gets knocked out of the gam...,0.05

In [ ]:
#@title Save DataFrame

In [ ]:
!pip install Dataframe_image

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Dataframe_image
  Downloading dataframe_image-0.1.3-py3-none-any.whl (6.6 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.6 MB 5.0 MB/s
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from Dataframe_image) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from Dataframe_image) (2.23.0)
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.7/dist-packages (from Dataframe_image) (5.6.1)
Requirement already satisfied: mistune in /usr/local/lib/python3.7/dist-packages (from Dataframe_image) (0.8.4)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from Dataframe_image) (3.8.3)
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.7/dist-packages (from Dataframe_image) (3.2.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from Dataframe_image) (21.3)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from Dataframe_image) (1.3.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->Dataframe_image) (1.4.4)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->Dataframe_image) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->Dataframe_image) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->Dataframe_image) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->Dataframe_image) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1->Dataframe_image) (4.1.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->Dataframe_image) (5.0.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->Dataframe_image) (2.6.1)
Requirement already satisfied: jinja2>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->Dataframe_image) (2.11.3)
Requirement already satisfied: nbformat>=4.4 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->Dataframe_image) (5.7.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->Dataframe_image) (1.5.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->Dataframe_image) (0.7.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->Dataframe_image) (5.1.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->Dataframe_image) (0.4)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->Dataframe_image) (0.6.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->Dataframe_image) (4.11.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.4->nbconvert>=5->Dataframe_image) (2.0.1)
Requirement already satisfied: importlib-metadata>=3.6 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.4->nbconvert>=5->Dataframe_image) (4.13.0)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.4->nbconvert>=5->Dataframe_image) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.4->nbconvert>=5->Dataframe_image) (2.16.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=3.6->nbformat>=4.4->nbconvert>=5->Dataframe_image) (3.10.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert>=5->Dataframe_image) (5.10.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert>=5->Dataframe_image) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert>=5->Dataframe_image) (0.18.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->Dataframe_image) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1->Dataframe_image) (1.15.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->Dataframe_image) (1.8.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->Dataframe_image) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->Dataframe_image) (4.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->Dataframe_image) (1.3.1)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->Dataframe_image) (2.1.1)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->Dataframe_image) (0.13.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->Dataframe_image) (6.0.2)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->Dataframe_image) (2.10)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert>=5->Dataframe_image) (0.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->Dataframe_image) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->Dataframe_image) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->Dataframe_image) (3.0.4)
Installing collected packages: Dataframe-image
Successfully installed Dataframe-image-0.1.3

In [ ]:
!apt install chromium-chromedriver

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 4 not upgraded.
Need to get 91.7 MB of archives.
After this operation, 309 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 105.0.5195.102-0ubuntu0.18.04.1 [1,156 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 105.0.5195.102-0ubuntu0.18.04.1 [80.1 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 105.0.5195.102-0ubuntu0.18.04.1 [5,097 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 105.0.5195.102-0ubuntu0.18.04.1 [5,320 kB]
Fetched 91.7 MB in 4s (22.0 MB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 123941 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_105.0.5195.102-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (105.0.5195.102-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_105.0.5195.102-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (105.0.5195.102-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_105.0.5195.102-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (105.0.5195.102-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_105.0.5195.102-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (105.0.5195.102-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (105.0.5195.102-0ubuntu0.18.04.1) ...
Setting up chromium-browser (105.0.5195.102-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (105.0.5195.102-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (105.0.5195.102-0ubuntu0.18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.6) ...

In [ ]:
import dataframe_image as dfi

In [ ]:
dfi.export(df1, "df1.png")
dfi.export(df2, "df2.png")
dfi.export(df3, "df3.png")

In [ ]:
from PIL import Image

image_1 = Image.open(r'/content/df1.png')
im_1 = image_1.convert('RGB')
im_1.save(r'/content/TFIDF_ToyStory_new.pdf')

In [ ]:
image_2 = Image.open(r'/content/df2.png')
im_2 = image_2.convert('RGB')
im_2.save(r'/content/TFIDF_Pinocchio_new.pdf')

In [ ]:
image_3 = Image.open(r'/content/df3.png')
im_3 = image_3.convert('RGB')
im_3.save(r'/content/TFIDF_Titanic_new.pdf')